body{
    background:#0f0f0f;
    color:white;
    font-family:Arial;
}

.admin-container{
    padding:30px 8%;
}

h1{
    color:#E50914;
}

.form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:400px;
    margin-top:20px;
}

input, select{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#222;
    color:white;
}

button{
    padding:12px;
    background:#E50914;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#movieList{
    margin-top:30px;
}

.movie-item{
    background:#1a1a1a;
    padding:10px;
    margin-bottom:10px;
    border-radius:8px;
}
