
body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#000;
}

.navbar input{
    padding:10px;
    border-radius:8px;
    border:1px solid transparent;
    background:#222;
    color:white;
    transition:0.3s;
}

.navbar input:hover{
    border:1px solid red;
}

.navbar input:focus{
    border:1px solid red;
    box-shadow:0 0 10px red;
}

/* SECTIONS */
.section{
    padding:20px;
}

.row{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

/* CARD */
.card{
    width:150px;
    cursor:pointer;
    transition:0.3s;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card:hover{
    transform:scale(1.05);
}

/* FEATURED */
.featured-box{
    padding:20px;
}

/* ADMIN */
.admin-card{
    width:200px;
    background:#222;
    padding:10px;
    border-radius:10px;
    margin:10px;
}

.admin-card img{
    width:100%;
}

.admin-card button{
    margin:5px;
    padding:5px;
    cursor:pointer;
}
